.btn {
  padding: 0.75rem 2.5rem;
  border-radius: 100vh;
  cursor: pointer;
}

.btn--accent {
  color: var(--clr-white);
  background-color: var(--clr-primary-cyan);
}

.btn--transparent {
  // color: var(--clr-white);
}

.btn--radius-small {
  border-radius: 0.25rem;
}

.btn--dark {
  background-color: var(--clr-primary-dark-violet);
}