@use ".././../abstracts/mixins" as *;

.intro {
	overflow: hidden;
	
  .container {
		// display: flex;
		// flex-direction: column-reverse;
		// justify-content: center;
		// align-items: center;

		@media(min-width: 925px) {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			gap: 4rem;
			margin-top: 3rem;
		}

		// @include xlargescreen {
		// 	display: flex;
		// 	flex-direction: row-reverse;
		// 	align-items: center;
		// 	justify-content: center;
		// 	gap: 4rem;
		// 	margin-top: 3rem;
		// }
	}

	&-left {
		--flow-spacer: 1.5rem;
		text-align: center;
		margin-top: 3rem;

		@media (min-width: 925px) {
			margin-top: 0rem;
			text-align: left;
		}

		// @include xlargescreen {
		// 	text-align: left;
		// }
	}

	&-right {
		img {
			width: 150%;
			max-width: 456px;
			max-height: 300px;
			margin: 0 auto;
			
			// @include largescreen {
			@media(min-width: 925px) {
				// width: 150%;
				max-width:none;
				max-height: none;
				margin:0;
			}
		}

	}

	&__info {
		margin-top: 0.75rem;

		// @include xlargescreen {
		@media(min-width: 925px) {
			// font-size: 1.5rem;
			font-size: clamp(1.025rem, 1.7vw, 1.35rem);
			// max-width: 42.5ch;
		}
		@include xlargescreen {
			max-width: 42.5ch;
		}
	}

	.btn {
		margin-top: 1.5rem;
	}
}