@use '../abstracts/mixins' as *;

.footer {
  background-color: var(--clr-neutral-very-dark-blue);
  // color: var(--clr-white);
  font-size: 1rem;
	text-align: center;
	padding: 1rem 0;

	@include mediumscreen {
		text-align: left;
	}

	
	&__content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;

		padding: 3rem 0;

		@include mediumscreen {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: start;
			column-gap: 7rem;
		}

		@include largescreen {
			flex-direction: row;
			flex-wrap: nowrap;
			column-gap: 3rem;

			> * {
				flex-grow: 1;
			}
		}
		
	}
  .logo {
		@include mediumscreen {
			flex-shrink: 0;
			margin: 0 50%;
			margin-left: calc( 50% + 1rem );
		}

		@include largescreen {
			flex-shrink: auto;
			flex-grow: 5;
			margin: 0 auto;
		}
  }
  &__links {
		
    &__title {
      color: var(--clr-white);
    }

		&__container {
			--flow-spacer: 0.75rem;
			margin-top: 1.5rem !important;
		}
  }
  &__social-links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;

		@include mediumscreen {
			width: 100%;
		}

		@include largescreen { 
			width: auto;
		}
  }
}
