@use "../abstracts/mixins" as *;

.header {
    
	.container {
		padding-top: 2.5rem;
		padding-bottom: 1.5rem;
		position: relative; // containing block for navbar bottom
	}
	.navbar {
		color: var(--clr-neutral-grayish-violet);
		font-weight: 500;

		@include xlargescreen {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4rem;
		}

		&-top {
			display:flex;
			justify-content: space-between;
			align-items: center;

			@include xlargescreen {
				margin-top: 6px;

				.hamburger {
					display: none;
				}
			}
		}

		&-bottom {
			text-align: center;
			// color: var(--clr-white);
			// display: none;
			position: absolute;
			top: 100%;
			width: 100%;
			padding: 2rem 1.5rem 2.5rem;
			border-radius: .5rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;

			@include xlargescreen {
				position: relative;
				flex-direction: row;
				justify-content: space-between;
				padding: 0;

				&.bg-dark-violet {
					background-color: transparent;
					color: inherit;
				}
			}

			&.hidden {
				display: none;

				@include xlargescreen {
					display: flex;
				}
			}
		}

		&__page-links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;

			@include xlargescreen {
				flex-direction:row;
				gap: 2rem;
			}

			&__item {
				a {
					display: block;
				}
			}
		}
		&__buttons {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
			padding-top: 1.5rem;
			border-top: 0.5px solid rgb(158 154 167 / 0.25);

			@include xlargescreen {
				padding: 0;
				border: none;
				flex-direction: row;
			}

			.btn {
				padding: 0.5rem 1.5rem;
			}
		}
	}   

}