@use '../abstracts/mixins' as *;
.container {
    margin: 0 1.25rem;
    max-width: 74rem;
    
    @include smallscreen {
        margin: 0 3.25rem;
    }

    @include mediumscreen {
        margin: 0 5rem;
    }

    @include xlargescreen {
        margin: 0 auto;
    }
}