a {
  text-decoration: none;
}

ul[class] {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit;
}

section {
  // remove style after completion
  // overflow: hidden;
}

input {
	color: inherit;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: inherit;
}
