@use '../abstracts/mixins' as *;

body {
  font-family: var(--ff);
	font-size: var(--fs-regular);
	color: var(--clr-neutral-gray);
}

h1, h2, h3 {
	color: var(--clr-primary-dark-violet);
}

h1 {
	font-size: 2.75rem;
	line-height: 1.1;

	@media (min-width: 925px) {
		font-size: clamp(2.75rem, 5.15vw, 4.75rem)
	}
	@include xlargescreen {
		// font-size: 4.75rem;
	}
}

h2 {
	@include xlargescreen {
		font-size: 2.65rem;
	}
}

a {
	color: inherit;
}

.text-white {
	color: var(--clr-white);
}