.shortening-form {
  background-color: var(--clr-primary-dark-violet);
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-image: url("../../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top -0.85rem right;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;

	// remove width value and observe very interesting behaviour
	position: absolute;
	width: 100%; 
	right: 0;
	left: 50%;
	transform: translate(-50%, -50%);

	&.error {
		
		.url-input {
			color: rgb(244 98 98 /0.5);
			border: 3px solid var(--clr-secondary-red);
		}

		.error-message {
			display: block;
		}
	}

  .url-input {
		color: inherit;
		font-size: 1rem;
		padding: 0.5rem 1rem;
		border: 0;
		border-radius: 0.25rem;
		width: 100%;
		// active state
  }

	.error-message {
		color: var(--clr-secondary-red);
		font-size: .725rem;
		font-style: italic;
		margin-top: 0.25rem;
		display: none;
	}
  input[type="button"] {
		background-color: var(--clr-primary-cyan);
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 0.25rem;
  }
}
